:host {
  display: block;
  background-color: #f8f9fa;
  min-height: 100vh;
}

.card {
  border: none;
  border-radius: 1rem;
}

.card-header {
  border-radius: 1rem 1rem 0 0 !important;
}

.btn-primary {
  padding: 0.8rem;
}

.titulo-custom {
  background-color: #064a1d; /* Cambia el color a tu gusto */
}

.boton-custom {
  background-color: #a71d07; /* Cambia el color a tu gusto */
}
