<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Lista de Cirujanos</h2>
    <button class="btn btn-primary" routerLink="new">Nuevo Cirujano</button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Especialidad</th>
        <th>Fecha Creación</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cirujano of cirujanos">
        <td>{{cirujano.id}}</td>
        <td>{{cirujano.nombre}}</td>
        <td>{{cirujano.especialidad}}</td>
        <td>{{cirujano.createdAt | date:'short'}}</td>
        <td>

          <button class="btn btn-danger btn-sm" (click)="onDelete(cirujano.id!)">
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
