<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Lista de Instrumentistas</h2>
    <button class="btn btn-primary" routerLink="new">Nuevo Instrumentista</button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Especialidad</th>
        <th>Fecha Creación</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let instrumentista of instrumentistas">
        <td>{{instrumentista.id}}</td>
        <td>{{instrumentista.nombre}}</td>
        <td>{{instrumentista.especialidad}}</td>
        <td>{{instrumentista.createdAt | date:'short'}}</td>
        <td>

          <button class="btn btn-danger btn-sm" (click)="onDelete(instrumentista.id!)">
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
